.cart-container {
  display: flex;
  flex-direction: row;
}

.left-side {
  max-width: 550px;
  width: 60vw;

  .name,
  .address-block,
  .address-block-2,
  .cc-row1,
  .cc-row2 {
    display: flex;
    justify-content: space-between;

    .mat-form-field {
      width: 45%;
    }
  }

  .address-block-2 {
    .mat-form-field {
      width: 30%;
    }

    .zip {
      margin-top: 12px;
    }
  }

  .radio-group {
    margin: 18px 0;

    mat-radio-button {
      margin-right: 10px;
    }
  }

  .button-container {
    button {
      width: 100%;
    }
  }
}

.right-side {
  margin-left: 10px;
  max-width: 350px;
  width: 30vw;

  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    align-items: flex-end;
  }

  .product-info {
    width: 100%;
  }

  .top-line {
    display: flex;
    justify-content: space-between;
  }
}
