<div class='home-container'>
  <div class='banner'>
    <mat-carousel timings='250ms ease-in'
      [autoplay]='true'
      interval='10000'
      color='primary'
      maxWidth='auto'
      proportion='30'
      slides='4'
      [loop]='true'
      [hideArrows]='false'
      [hideIndicators]='false'
      [useKeyboard]='true'
      [useMouseWheel]='false'
      orientation='ltr'>
      <mat-carousel-slide #matCarouselSlide
        *ngFor='let slide of slides; let i = index'
        [image]='slide.image'
        overlayColor='#00000040'
        [hideOverlay]='true'>
      </mat-carousel-slide>
    </mat-carousel>
  </div>
  <div class='featured'>
    <span [routerLink]="['/item-list', itemGroup.CIGARS_CIGARELLOS]">{{itemGroup.CIGARS_CIGARELLOS | uppercase}}</span>
    <span [routerLink]="['/item-list', itemGroup.SMOKELESS]">{{itemGroup.SMOKELESS | uppercase}}</span>
    <span [routerLink]="['/item-list', itemGroup.FILTERED_CIGARS]">{{itemGroup.FILTERED_CIGARS | uppercase}}</span>
  </div>
  <div class='products'>
    <app-item-card *ngFor='let product of productList | async; index as i;'
      [itemData]='product'>
    </app-item-card>
  </div>
</div>